{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/antseg-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="antseg-container">
  <div class="antseg-img">
    <img 
      src="" 
      alt=""
    >
  </div>
  <div class="antseg-details">
    <h1>{{ antseg.diagnosis }}</h1>
    <p>{{ antseg.description }}</p>
  </div>
  <div class="antseg-actions">
    <a href="{% url 'antsegs_update' antseg.id %}" class="btn warn">Edit</a>
    <a href="{% url 'antsegs_delete' antseg.id %}" class="btn danger">Delete</a>
  </div>
</section>

{% endblock %}