{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  {% if object %}
    <h1>Edit {{object.diagnosis}}</h1>
  {% else %}
    <h1>Add an Anterior Segment Condition</h1>
  {% endif %}
</div>

<form action="{% url 'antsegs_create' %}" method="post" class="form-container">
  {% csrf_token %}
  <table>
    <th id="select-segment">
      <label for="segment">Segment:</label></th>
        <td>
          <select name="segment">
            <option value="anterior">Anterior</option>
            <option value="posterior">Posterior</option>
          </select>
        </td> 
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}