{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}


{% if object %}
  <div class="page-header">
    <h1>Edit {{object.diagnosis}}</h1>
  </div>
  <form action="" method="post" class="form-container">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
  </form>
{% else %}
  <div class="page-header">
    <h1>Add a Condition</h1>
  </div>
  <form action="{% url 'segment_create' %}" method="post" class="form-container">
    {% csrf_token %}
    <table>
      <th id="select-segment">
        <label for="segment">Segment:</label></th>
          <td>
            <select name="segment" id="choose-segment" required>
              <option selected disabled hidden style='display: none' value=''>--Choose Segment--</option>
              <option value="anterior">Anterior</option>
              <option value="posterior">Posterior</option>
            </select>
          </td> 
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
  </form>
{% endif %}

{% endblock %}