{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  {% if object %}
    <h1>Edit {{object.diagnosis}}</h1>
  {% else %}
    <h1>Add an Anterior Segment Condition</h1>
    {% comment %} <div id="condition-select">
      <label for="segment">Segment:
        <select name="segment" id="">
          <option value="anterior">Anterior</option>
          <option value="posterior">Posterior</option>
        </select>
      </label>
    </div> {% endcomment %}
  {% endif %}
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}