{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/confirm-delete.css' %}"
/>
{% endblock %}

{% block content %}

<div class="page-container">
  <div class="page-header">
    <h1>Delete Condition?</h1>
  </div>
  <div class="page-form">
    <h2>Are you sure you want to delete {{ object.diagnosis }}?</h2>
    
    <form action="" method="POST" class="form">
      {% csrf_token %}
      <a 
        href="{% url 'antsegs_detail' antseg.id %}" 
        class="btn secondary"
      >
        Cancel
      </a>
      <button type="submit" class="btn danger">Yes - Delete!</button>
    </form>
  </div>
</div>

{% endblock %}