{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href=""
    {% comment %} NEED FAVICON HERE {% endcomment %}
  >
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <title>Eye See Docs</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="header-logo-container">
      <a href="/">
        <img 
          src="" 
          alt="Eye See Docs logo"
        >
      </a>
    </div>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li><a href="{% url 'antsegs_index' %}">Anterior Segment</a></li>
          <li><a href="{% url 'postsegs_index' %}">Posterior Segment</a></li>
          <li><a href="{% url 'antsegs_create' %}">Add Ant Seg Condition</a></li>
          <li><a href="{% url 'postsegs_create' %}">Add Post Seg Condition</a></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
          <li><a href="{% url 'home' %}">Login</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}  
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>