html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100vh;
  background-color: navy;
  color: silver;
  --nav-bg: silver;
  /* --nav-bg-ff: silver; */
  --borders: white solid 3px;
  --text-color: silver;
  --link-hover-color: white;
  --button-bg: rgb(245, 245, 245);
  --button-bg-hover: rgb(226, 226, 226);
  --submit: black;
  --warn: black;
  --danger: rgb(220, 20, 30);
  --secondary: black;
  --card-box-shadow: 8px 8px 10px -2px #AAA;
  --font: 'Bebas Neue', cursive;
  --font-input: 'Gochi Hand', cursive;
  --font-xtreme: 4.2rem;
  --font-xxl: 3.6rem;
  --font-xl: 2.4rem;
  --font-l: 1.8rem;
  --font-reg: 1.6rem;
  --card-border-radius: 6px;
}

header {
  width: 100%;
  background: var(--nav-bg);
  border-bottom: var(--borders);
}

nav {
  background-color: silver;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  margin: 0px 30px;
  font-family: var(--font);
}

ul {
  margin: 0;
  list-style: none;
  padding: 0px;
}

main {
  width: 100%;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 2.0rem;
}

nav a:hover {
  color: var(--link-hover-color)
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

nav li {
  padding: 5px 50px;
}

#header-logo {
  width: 50px;
}

/* .header-logo-container {
  margin: auto;
  padding: 10px 20px 0;
  max-width: 500px;
} */

.page-header {
  display: flex;
  align-items: center;
  margin: 20px;
}

.btn {
  font-size: var(--font-l);
  padding: 7px 16px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  background-color: var(--button-bg);
  font-weight: 600;
  cursor: pointer;
  font-family: var(--font);
  margin-right: 10px;
}

.btn:hover {
  background-color: var(--button-bg-hover);
}

.submit {
  color: var(--submit);
  border-color: var(--submit);
}

.secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.warn {
  color: var(--warn);
  border-color: var(--warn);
}

.danger {
  color: var(--danger);
  border-color: var(--danger);
}

.page-header h1 {
  font-size: var(--font-xxl);
  margin: 0;
  font-family: var(--font);
}

.page-header img {
  height: 40px;
  margin-left:15px;
}

.page-header img:first-of-type {
  margin-left: 20px;
}

main h1 {
  font-family: 'Rock Salt', cursive;
}

main h2 {
  font-family: var(--font);
}

main p {
  font-family: var(--font-input);
}

label {
  font-family: var(--font);
}

input, textarea {
  font-family: var(--font-input);
}