.postseg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px;
}

.postseg-img {
  width: 75%;
  max-width: 500px;
}

.usr-img {
  width: 80%;
  border-radius: 5px;
}

.postseg-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.postseg-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.postseg-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.postseg-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
  width: 400px;
}

.postseg-details p {
  margin-bottom: 20px;
}

.postseg-details {
  margin-bottom: 150px;
}

.submit {
  margin-top: 20px;
}